// @font-face {
//     src: url('../../assets/fonts/Quicksand-Regular.ttf');
//     font-family: 'quicksand';
// }
// @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

@font-face{
    src: '../fonts/fa-brands-400.ttf' ;
    font-family: 'fa-brands';
}
@font-face{
    src: '../fonts/fa-regular-400.ttf';
    font-family: 'fa-reg';
}
@font-face{
    src: '../fonts/fa-solid-900.ttf';
    font-family: 'fa-solid';
}